<div class="user">
  <h2><%= link_to "#{current_user.name}'s To Do List", user_to_do_lists_path(current_user) %></h2>
  <p>Name: <%= current_user.name %></p>
  <p>Email: <%= current_user.email %></p>
  <br>
  <% if current_user %>
    <%= link_to "Delete Account", user_path(current_user), method: "delete", 
    data: {confirm: "Are you sure you want to delete your account?"} %> -
    <%= link_to "Edit Account Information", edit_user_path(current_user) %> 
  <% end %>
</div>