<div class="panel panel-default">
  <h2><%= link_to "#{current_user.name}'s To Do List", users_path %></h2>
  <p>Name: <%= current_user.name %></p>
  <p>Email: <%= current_user.email %></p>

  <% if current_user %>
    <%= link_to "delete", user_path(current_user), method: "delete", data: {confirm: "Are you sure you want to delete your account?"} %> -
    <%= link_to "edit", edit_user_path(current_user) %> 
  <% end %>
</div>