<div class="todo">  
  <h1><%= "#{current_user.name}'s To Do List" %></h1>

  <h3><%= link_to "create a list", new_user_to_do_list_path(current_user) %></h3>

  <% @to_do_lists.each do |list| %>
  <br>
    
    Day: <%= list.day %>
    <br>
    Task: <%= list.task %>
    <br>
  <%= link_to "delete", to_do_list_path(list), method: "delete", data: {confirm: "Are you sure you want to delete this task?"} %>
  <br>
  <br>
  <% end %>
</div>

