<div class="create-task">
  <%= form_for [:user, @to_do_list] do |f| %>
    <%= f.label :day %>
    <%= f.text_field :day %>
    <br>
    <br>
    <%= f.label :task %>
    <%= f.text_area :task %>
    <br>
    <br>
    <%= f.submit "Create Task" %>
  <% end %>
</div>