<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  
  <% unless controller_name == "welcome" %>
    <%= render "navigation/nav" %>
  <% end %>

  </head>

  <body>
    <div class="flash">
      <% flash.each do |type, message| %>
        <%= format_error_messages(type, message).html_safe %>
      <% end %>
    </div>

    <%= yield %>
    
    <footer>
      <div class="footer">
        <p>Copyright &copy; ToDoList 2018</p>
      </div>
    </footer>
  </body>
</html>
